* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Index*/
.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 400px;
  height: 500px;
  border: solid 2px black;
}

/*carrito*/

.carrito-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
